{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Explanations</h1>
        
        <div class="alert alert-info">
            <h4 class="alert-heading">Nature of the tool</h4>
            <p>IP law is notoriously complex. In some cases, answering the questions may require certain decisions that are far from obvious (for example, whether a given object is protected by copyright as a work). In such cases, the tool relies on the self-assessment of the user.</p>
        </div>
        
        
    </div>
</div>
{% endblock %}
