{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>About this tool</h1>
        
        <p>This is a tool designed as part of the efforts of <a href="https://euimpulse.eu/">IMPULSE</a> WP4, based on our earlier conclusions described in deliverables D4.1 and D4.2, as well
            as the datasets prepared as part of WP3's deliverable D3.2.               
        </p>
        <p>Functionally, its aim is to streamline the process of combining information about an object and its digital representation to verify if, under EU law, 
            they can be made available online under relatively free circumstances (i.e. including making changes such as those allowed by the IMPULSE platform).
            The fact that we mention "EU law" here is important, as the tool does not take into account any national variations or additional protections. This is why,
            although we designed it with the principle of "erring on the side of caution" in mind, it cannot be treated as a complete substitute for legal advice.
        </p> 
        <p>
            From the research purposes of WP4, the primary purpose of the tool is to assist our data-gathering efforts necessary in the process of preparing policy recommendations, which 
            are one of the main expected results of WP4. Apart from that, we hope that the tool will also be useful in the process of preparing metadata for the objects.
            This, however, is will require more discussions, particularly with WP3.
        </p>
        <p>Please note that for now, the tool is not yet meant to be shared with the broader public. While we don't limit access to it by any security measures, we 
            ask you not to share the link without consulting us first. Once it is ready, we are planning to make the code available.
        </p>
        <p> We will be sincerely grateful for all feedback!</p>
        <p> <em>Konrad Gliściński and Bohdan Widła</em></p>
    </div>
</div>
{% endblock %}
